$font-family: Arial, Helvetica, sans-serif;
$font-size: 13pt;

$background-color: white;
$foreground-color: rgb(40, 40, 40);

$accent-color: rgb(100, 200, 150);

$border-color: rgb(230, 230, 230);

$header-background-color: rgb(240, 240, 240);
$succeeded-background-color: rgb(220, 255, 220);
$failed-background-color: rgb(255, 220, 220);
$pending-background-color: rgb(255, 240, 220);

$error-background-color: $failed-background-color;
$error-border-color: red;