@import "_variables";
@import "_normalize";

body {
  font: {
    family: $font-family;
    size: $font-size;
  }
  background: $background-color;
  color: $foreground-color;
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}

header .title {
  font-size: 2.5em;
  text-transform: uppercase;
  color: $accent-color;
  margin-bottom: 0.67em;
}

.meta {
  float: right;
  padding-top: 0.25em;
}

.export {
  cursor: pointer;
  display: none;
  background: $accent-color;
  color: $background-color;
  font-weight: bold;
  text-decoration: none;
  padding: 0.33em 0.67em;
  transition: opacity 0.2s linear;
  border: 0;
}

.export:hover {
  opacity: 0.8;
}

h1 {
  margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

table {
  width: 100%;
  border-bottom: 1px solid $border-color;
}

tr {
  border-top: 1px solid $border-color;
}

th, td {
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  width: 33%;
}

th {
  background: $header-background-color;
}

tr.succeeded td {
  background: $succeeded-background-color;
}

tr.failed td {
  background: $failed-background-color;
}

tr.pending td {
  background: $pending-background-color;
}

.error {
  text-align: center;
  padding: 1em;
  border: 1px solid $error-border-color;
  background: $error-background-color;
}
